:root {
	/* --popover-border: 1px solid red; */
	--slider-height: 2px;
	--slider-knob-size: 12px;
}

/* .osd { */
/*   border: 1px solid darker(#7081d0); */
/*   border-radius: 12px; */
/* } */

.notification-toast {
  border: 1px solid darker(#7081d0);
  border-radius: 12px;
}

.workspace-indicator.active {
	background-color: #37f499;
}
