*~
bin/
.gitconfig-local
zsh/dot-zsh/vpn/vpn.*.sh
zsh/dot-zsh/cache
zsh/dot-zsh/fzf-tab-completion
zsh/dot-zsh/zsh-autopair
opencode/dot-config/opencode/node_modules
opencode/dot-config/opencode/package-lock.json
