[color]
	branch = auto
	diff = auto
	status = auto
  showbranch = auto
	ui = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = green
	changed = yellow
	untracked = red

[log]
	date = short

[alias]
  s = status -sb
  co = checkout
  cob = checkout -b
  com = commit
  del = branch -D 
  br = !git --no-pager branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  undo = reset HEAD~1 --mixed
  res = !git reset --hard
  pu = !git push origin HEAD
  lg = log --graph --branches="*" --oneline --decorate=short --pretty=format:\"%C(magenta)%h%Creset -%C(auto)%d%Creset %s %C(dim white)(%cr) [%an]\"
  df = diff --color-words='[^[:space:]]'
