
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

overview {
		backdrop-color "#16161e"
    workspace-shadow {
        on
    }
}

input {
    keyboard {
        numlock
    }
    touchpad {
				dwt
        natural-scroll
				accel-speed 0.37
    }
}

layout {

    gaps 8
		always-center-single-column
    // center-focused-column "on-overflow"
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-gradient from="#04d1f9" to="#04d1f9" angle=180
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    border {
        off
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    struts {
        left 16 
        right 16
				// left-on-overflow
				// right-on-overflow true
				// overflow true
    }

		// Make the tab indicator wider and match the window height,
		// also put it at the top and within the column.
		tab-indicator {
			  position "top"
				width 6
				gap 4
				length total-proportion=0.1
				gaps-between-tabs 2
				place-within-column
				corner-radius 4
				active-color "#f7c67f"
		}
}

recent-windows {
	highlight {
		corner-radius 12
	}
}

cursor {
    xcursor-theme "Pop"
    xcursor-size 24
}

// Workspaces
workspace "main"  
workspace "chat"  
workspace "mail"  

include "outputs.kdl"
include "layerrules.kdl"
include "windowrules.kdl"
include "binds.kdl"

