
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

overview {
    workspace-shadow {
        on
    }
}

input {
    keyboard {
        numlock
    }
    touchpad {
				dwt
        natural-scroll
    }
}

layout {

    gaps 8
		always-center-single-column
    // center-focused-column "on-overflow"
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-gradient from="#80a0ff" to="#cf87e8" angle=180
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    border {
        off
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    // struts {
    //     left 64
    //     right 64
    // }
}

cursor {
    xcursor-theme "Pop"
    xcursor-size 24
}

// Workspaces
workspace "main" {
	open-on-output "DP-3"
} 

workspace "chat" {
	open-on-output "DP-3"
} 

include "outputs.kdl"
include "layerrules.kdl"
include "windowrules.kdl"
include "binds.kdl"

