
layer-rule {
    match namespace="^vibepanel.*$"
    exclude namespace="^vibepanel$"
    background-effect {
        xray false
    }
    popups {
        background-effect {
            xray false
        }
    }
}


layer-rule {
	match namespace="^walker$"
	match layer="overlay"

	background-effect {
		blur true
		xray false
	}
}

layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
    blur true
  }
}


layer-rule {
    match namespace="^noctalia-bar-.*$"

    background-effect {
        blur false
    }
}
