
window-rule {
	geometry-corner-radius 12
	clip-to-geometry true
	draw-border-with-background false
}

window-rule {
		match app-id=r#"org.telegram.desktop$"#
		match app-id=r#"discord$"#
		match app-id=r#"chrome-ecfhdkjlahhdahicdpphdpbegnnaihgf-Default"#
		open-on-workspace "chat"
}

window-rule {
	match app-id=r#"chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default"#
	match app-id=r#"chrome-kjbdgfilnfhdoflbpgamdcdgpehopbep-Default"#
	open-on-workspace "mail"
}

window-rule {
	match app-id=r#"zen$"#
	match app-id=r#"^org\.wezfurlong\.wezterm$"#
	open-on-workspace "main"
}

window-rule {
    match app-id=r#"Bitwarden"#
    block-out-from "screen-capture"
    open-floating true
}

window-rule {
    match app-id=r#"1password"#
    block-out-from "screen-capture"
    open-floating true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}
